In [3]:
import pandas as pd
from sqlalchemy import create_engine
from time import time
import argparse

In [4]:
# Check Pandas Version
pd.__version__

'1.4.4'

In [ ]:
# !wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet

In [6]:
# Let's Convert the parquet frile to csv

parquet_file = './yellow_tripdata_2021-01.parquet'
df = pd.read_parquet(parquet_file, engine = 'pyarrow')
df.to_csv(parquet_file.replace('parquet', 'csv'), index=False)

In [7]:
# This file is too big, let's import 100 Rows and have a look
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [8]:
df.head(7)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1.0,1.60,1.0,N,224,68,1,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5,NaN
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1.0,4.10,1.0,N,95,157,2,16.0,0.5,0.5,0.00,0.0,0.3,17.30,0.0,NaN

In [9]:
# Convert these 2 dates that are appearing as strings to timestamps
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [10]:
#Create a postgres connection
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
# Print DDL Statement that will be used to create the table in postgres - Just check that everything looks ok
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [25]:
# Remember our data was too huge? Let's iterate through the data in chunks of 100K
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [26]:
df = next(df_iter)

In [27]:
# Remember to convert the datatypes
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [28]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [16]:
# Let's check how long it takes to import the data
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

Wall time: 10.8 s

1000

In [29]:
# Insert the data picked by each iteration
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

print('We are done')

inserted another chunk, took 11.569 second
inserted another chunk, took 12.064 second
inserted another chunk, took 12.569 second
inserted another chunk, took 14.702 second
inserted another chunk, took 13.619 second
inserted another chunk, took 11.783 second
inserted another chunk, took 11.649 second
inserted another chunk, took 11.610 second
inserted another chunk, took 12.497 second
inserted another chunk, took 11.435 second
inserted another chunk, took 11.948 second

C:\Users\rombo\AppData\Local\Temp\ipykernel_12588\41373028.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 11.639 second
inserted another chunk, took 7.405 second

StopIteration:

In [18]:
# Let's Import Some Taxi Zone Lookup Data
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-26 00:20:25--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.227.144, 52.216.143.134, 52.216.242.142, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.227.144|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100%  210K=0.06s

2023-01-26 00:20:26 (210 KB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [19]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [20]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [21]:
# Ingest Zones data into the database. No need to iterate since it's a small file 
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265